<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="static\style.css">
</head>
<body>
    <style> 
        table { 
            text-align: center; 
            width: 80%; border-collapse: collapse; 
            margin: 10px auto; background-color: #f9f9f9; 
        } 
        th, td { 
            border: 2px solid blue; 
            padding: 10px; 
        } 
        th { 
            background-color: #4CAF50; 
            color: white; 
        } 
    </style>
    <table>
        <thead>
            <tr>
                <th>Disciplina</th>
                <th>Data</th>
                <th>Voto</th>
                <th>Matricola</th>
            </tr>
        </thead>
        <tbody>
            {% for result in voti %}
                <tr>
                    <td>{{ result[0] }}</td>
                    <td>{{ result[1] }}</td>
                    <td>{{ result[2] }}</td>
                    <td>{{ result[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> 

    <a href="{{ url_for('root') }}">home</a>
</body>
</html>